@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");


.container-fluid{
    width: 100%;
}
body{
    font-family: 'Open Sans';
}

.navmain h1{
    font-size: 2rem;
    font-weight: 400;
    color: #355063;
}

.navmain h1 span{
    font-weight: 700;
}

.navmain .form-control{
    border-radius: 1rem;
    background-color: #F4F6FF;
    border-left: none;
}

.navmain .input-group span{
    border-radius: 1rem;
    border-right: none;
    background-color: #F4F6FF;
}

.cases-details .card{
    width: 20rem;
    border-color: #355063 !important;
    color: #355063 !important;
    border-width: 2px;
    font-weight: 600 !important;
}

.cases-details .card-header{
    background-color: white;
    border-color: #355063 !important;
}

.cases-details .details{
    margin-right: 3rem;
}

.country{
    font-weight: 700;
    color: #355063;
    font-size: 2rem;
}
@media(max-width:768px){
    .cases-details .card{
        width: 16rem;
    }
}

@media(max-width:537px){
    .cases-details .card{
        width: 20rem;
    }
}

@media(max-width:350px){
    .cases-details .card{
        width: 100%;
    }
}
